body, html {
    background-color: hsl(60, 100%, 96%);
    margin: 0 auto;
}

body {
    font-family: Gameplay;
    overflow-x: hidden;
}

@font-face {
    font-family: Gameplay;
    src: url(/GAMEPLAY.TTF);
}

#parallax-background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-graphic {
    position: fixed;
    z-index: 0;
    opacity: 10%;
    min-width: 2000px;
    height: auto;
    top: 0;
    right: 0;
    transform: translateX(500px) translateY(-470px);
    pointer-events: none;
    position: absolute;
}

#page-title {
    color: hsl(0, 0%, 12%);
    font-family: Gameplay;
    font-size: max(30px, 8vh);
    padding: 1vh;
}

.grid_panel {
    position: relative;
    display: grid;
    width: 95%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 66% 33%;
    padding: 0 auto;
}

.grid_item {
    z-index: 1;
    width: 90%;
    height: 90%;
    background: hsla(60, 100%, 96%, 0.75);
    border-radius: 15px;
    border: 2px dashed hsl(0, 0%, 7%);
    box-sizing: border-box;
    transition: 0.5s;
    color: hsl(0, 0%, 7%);
    opacity: 1;
    filter: blur(0px) grayscale(0%);
}

.grid_item > img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.grid_panel:hover .grid_item {
    filter: blur(4px) grayscale(60%);
    background: hsla(60, 100%, 96%, 0);
}

.grid_panel .grid_item:hover {
    filter: blur(0px) grayscale(0%);
    background: hsla(60, 100%, 96%, 0.75);
}

.grid_item:hover {
    /* background: hsl(0, 0%, 7%);
    box-shadow: 0 0 20px 5px hsl(0, 0%, 7%),
    inset 0 0 30px 5px hsl(0, 0%, 20%);
    color: hsl(60, 100%, 96%); */
    transition: 0.3s ease-in;
}

.grid_text {
    text-align: center;
    font-size: 2vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5vh;
    /* text-shadow: 0 0 30px hsl(60, 100%, 96%); */
}

/* @media (max-width:900px) {
    .grid_panel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .grid_panel {
        grid-template-columns: repeat(1, 1fr);
    }
}